body, body * {
  overflow-x: hidden;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.scroll-1, .scroll-2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: absolute;
  animation: scroll 50s linear infinite;
}

.scroll-2 {
  transform: translateX(3340px);
}

.scroll-1 img, .scroll-2 img {
  height: 50rem;
}

@keyframes scroll {
  0% { left: 0px; }
  100% { left: -3340px; } /* Dirty hack. */
}

