<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:group {"align":"full","className":"scroll-hide-overflow","style":{"background":{"backgroundSize":"cover","backgroundPosition":"49% 49%"},"spacing":{"padding":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull scroll-hide-overflow" style="padding-top:0px;padding-bottom:0px"><!-- wp:shortcode -->
[azbau_scroll]
<!-- /wp:shortcode -->

<!-- wp:spacer {"height":"300px"} -->
<div style="height:300px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"margin":{"bottom":"0"},"padding":{"top":"2rem","bottom":"2rem"}},"dimensions":{"minHeight":"15rem"}},"backgroundColor":"accent-translucent","textColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-base-color has-accent-translucent-background-color has-text-color has-background has-link-color" style="min-height:15rem;margin-bottom:0;padding-top:2rem;padding-bottom:2rem"><!-- wp:heading {"textAlign":"left","level":1} -->
<h1 class="wp-block-heading has-text-align-left">Ausbildungszentrum Bau Kiel</h1>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[azbau_typing]
<!-- /wp:shortcode -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
<p class="has-text-align-center" style="font-style:normal;font-weight:500">Als Azubi hast Du nicht nur Zukunft, sondern auch vielseitige Möglichkeiten: Finde genau den Beruf, der zu dir passt!</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"highlight"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-highlight-background-color has-background wp-element-button" href="/lehrstellenboerse/">Finde deinen Ausbildungsplatz</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Schnellnavigation</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button" href="/ueber-uns/kontakt/">Kontakt</a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button" href="/ueber-uns/anfahrt/">Öffnungszeiten und Anfahrt</a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button" href="/fuer-auszubildende/stundenplaene/">Stundenpläne</a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button">Moodle</a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link wp-element-button">Berufsvorbereitung (BVB)</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Info</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><em>Keine aktuellen Informationen.</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"full","backgroundColor":"accent","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-accent-background-color has-background"><!-- wp:group {"layout":{"type":"grid","minimumColumnWidth":"500px"}} -->
<div class="wp-block-group"><!-- wp:media-text {"mediaId":155,"mediaLink":"/fuer-auszubildende/beratung/pexels-mizunokozuki-12903239/","mediaType":"image","isStackedOnMobile":false,"imageFill":true,"backgroundColor":"base"} -->
<div class="wp-block-media-text is-image-fill has-base-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(/wp-content/uploads/2024/10/pexels-mizunokozuki-12903239-683x1024.jpg" alt="" class="wp-image-155 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Beratung</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Für unsere Auszubildenden in schwierigen Lebenslagen</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"highlight","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-highlight-background-color has-background wp-element-button" href="/fuer-auszubildende/beratung/">Termin vereinbaren</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaId":141,"mediaLink":"/fuer-betriebe/eignungstestung/pexels-skylar-kang-6207367/","mediaType":"image","isStackedOnMobile":false,"imageFill":true,"backgroundColor":"base"} -->
<div class="wp-block-media-text is-image-fill has-base-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(/wp-content/uploads/2024/10/pexels-skylar-kang-6207367-1024x678.jpg" alt="" class="wp-image-141 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Für Betriebe</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Wir unterstützen Sie als Ausbildungsbetrieb!</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"highlight","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-highlight-background-color has-background wp-element-button" href="/fuer-betriebe/informationen-zur-ausbildung/">Infos zur Ausbildung</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaId":65,"mediaLink":"/maurer/","mediaType":"image","isStackedOnMobile":false,"imageFill":true,"backgroundColor":"base"} -->
<div class="wp-block-media-text is-image-fill has-base-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(/wp-content/uploads/2024/09/maurer_15-1024x682.jpg" alt="" class="wp-image-65 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Für Interessierte</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Wie funktioniert eine Ausbildung im Bau?</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"highlight","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-highlight-background-color has-background wp-element-button" href="/berufsausbildung/">Finde es heraus</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaId":66,"mediaLink":"/img-20191104-wa0003-01/","mediaType":"image","isStackedOnMobile":false,"imageFill":true,"backgroundColor":"base"} -->
<div class="wp-block-media-text is-image-fill has-base-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(/wp-content/uploads/2024/09/IMG-20191104-WA0003-01-796x1024.jpeg" alt="" class="wp-image-66 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Azubi-Infos</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Was Du wann im Ausbildungszentrum machst</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"highlight","width":100} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-highlight-background-color has-background wp-element-button" href="/fuer-auszubildende/">Infos für Azubis</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","contentSize":"35rem"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:gallery {"columns":4,"imageCrop":false,"linkTo":"none","style":{"spacing":{"blockGap":{"left":"0"}}}} -->
<figure class="wp-block-gallery has-nested-images columns-4"><!-- wp:image {"id":165,"sizeSlug":"full","linkDestination":"none","className":"is-style-default"} -->
<figure class="wp-block-image size-full is-style-default"><img src="/wp-content/uploads/2024/09/soka-2.png" alt="" class="wp-image-165"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":116,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="/wp-content/uploads/2024/09/ISO-9001-1024x996.jpg" alt="" class="wp-image-116"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":115,"sizeSlug":"large","linkDestination":"none","align":"center"} -->
<figure class="wp-block-image aligncenter size-large"><img src="/wp-content/uploads/2024/09/AZAV-1024x960.jpg" alt="" class="wp-image-115"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":117,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="/wp-content/uploads/2024/09/bmwi.gif" alt="" class="wp-image-117"/></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

